{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "bracketSameLine": false,
    "endOfLine": "crlf",
    "importOrder": [
        "^react$",
        "<THIRD_PARTY_MODULES>",
        "^next/(.*)$",
        "^@/(.*)$",
        "^@core/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
